{% extends "base.html" %}
{% block content %}
<div id="search-bar" class="container text-center">
		<form id="search-form" action="search.py">
			<input type="text" id="search-field">
			<select name="search-type">
    			<option value="image" selected>Image</option>
    			<option value="gallery">Gallery</option>
    			<option value="photography">Photographer</option>
  			</select>
  			<select name="search-sort">
    			<option value="sort-1" selected>Most Popular</option>
    			<option value="sort-2">Most Recent</option>
  			</select>
  			<input type="submit" value="Search">
		</form>
	</div>
	<div id="form" class="container text-center">
		<form action="upload.py" id="upload-form" method="POST" enctype="multipart/form-data">
  			<input id="up-button" type="file" name="pic" accept="image/jpeg" onchange="readURL(this);">
  			<div class="container-fluid" id="img-preview" >
				<img id="up-img" src="#" alt="your image" style="display: none"/>
  			</div>
  			<div class="container-fluid" id="img-detail">
  				<div class="container-fluid text-left" id="img-detail-left">
                    <input type="text" id="img-title" name="title">
  					<textarea id="img-description" name="description" placeholder="Image Description" rows="5" cols="60" form="upload-form"></textarea>
  				</div>
  				<div class="container-fluid text-right" id="img-detail-right">
  					<select name="category">
                    {% for cat in category %}
    					<option value="{{ cat.name }}">{{ cat.name }}</option>
                    {% endfor %}
  					</select><br/>
  					<input type="text" id="img-tags" name="tag_info">
  				</div>
  			</div>
  			<input type="submit" value="Upload">
		</form>
</div>
{% endblock %}
